@model DrDocxModels.Patient

@{
    ViewData["Title"] = "Create Patient";
    ViewData["ReturnController"] = "Home";
    ViewData["ReturnAction"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Tabs {
    <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
}

<form asp-action="Create" id="form">
    <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Details</h4>
                    @Html.ValidationSummary()
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input required asp-for="Name" class="mdl-textfield__input" type="text" id="fname">
                            <label class="mdl-textfield__label" for="fname">Full Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="PreferredName" class="mdl-textfield__input" type="text" id="pname">
                            <label class="mdl-textfield__label" for="pname">Prefered Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input required asp-for="DateOfBirth" class="mdl-textfield__input" type="text" id="dob" pattern="\d{1,4}\-\d{1,2}-\d{1,2}">
                            <label class="mdl-textfield__label" for="dob">Date of Birth (YYYY-MM-DD)</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input required asp-for="DateOfTesting" class="mdl-textfield__input" type="text" id="dot" pattern="\d{1,4}\-\d{1,2}-\d{1,2}">
                            <label class="mdl-textfield__label" for="dot">Date of Tests (YYYY-MM-DD)</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input required asp-for="MedicalRecordNumber" class="mdl-textfield__input" type="text" id="mrn" value="1">
                            <label class="mdl-textfield__label" for="mrn">Medical Record Number</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Address" class="mdl-textfield__input" type="text" id="address">
                            <label class="mdl-textfield__label" for="address">Address</label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4 class="mdl-cell mdl-cell--12-col">Notes</h4>
                    <div class="section__text mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" form="form" type="text" rows="5" id="notes" asp-for="Notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text">
                    <h4 class="mdl-cell mdl-cell--12-col">Medications</h4>
                    <div class="section__text mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col  mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" form="form" type="text" rows="5" id="meds" asp-for="Medications"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Analysis</h4>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Diagnosis" class="mdl-textfield__input" type="text" id="diag">
                            <label class="mdl-textfield__label" for="diag">Diagnosis</label>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Create</h4>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <input class="setting-li mdl-list__item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" id="form-submit" value="Create Patient" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>